.toolbar{
  background-color: #1e1e1e;
  position: fixed;
  color: white;
  top: 0px; //fill space
  left: 0px; //fill space
}

.logo{
  font-size: 5vh;
  font-family: 'Vollkorn', serif;
  padding-right: 20px;
}

.spacer{
  flex:1 1 auto;
}

.nav{
  li{
    display: inline;
    list-style-type: none;
    padding: 20px;
    a{
      color: white;
      text-decoration: none;
    }
  }
}