/* .app-header{
  background-color: black;
  color: white;
  width: 100%;
  position: fixed;
}

.menu{
  text-align: center;
  padding: 10px 0;
}

#Logo{
  font-size: 5vh;
}

.group-tab{
  height: 5vh;
}

a:link, a:visited, a:hover, a:active {
  color: white;
  text-decoration: none;
} */

.toolbar{
  background-color: #1e1e1e;
  position: fixed;
  color: white;
  left:0px;
  top: 0px;
}

.logo{
  font-size: 5vh;
  font-family: 'Vollkorn', serif;
  padding-right: 20px;
}

.spacer{
  flex:1 1 auto;
}

.nav{
  li{
    display: inline;
    list-style-type: none;
    padding: 20px;
  }
}