<mat-card class="login-card">
  <button class="close" mat-button (click)="onNoClick()">
    <mat-icon>close</mat-icon>
  </button>
  <mat-card-header>
    <mat-card-title class="login-title" *ngIf="this.vs.loginFlag">ログイン</mat-card-title>
    <mat-card-title class="login-title" *ngIf="!this.vs.loginFlag">新規登録</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" class="login-form" #loginForm="ngForm">
      <mat-form-field>
        <input matInput type="text" placeholder="メールアドレス">
      </mat-form-field>
      <mat-form-field>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="パスワード">
        <mat-icon matSuffix (click)="hide=!hide">{{hide?'visibility':'visibility_off'}}</mat-icon>
      </mat-form-field>
      <mat-form-field *ngIf="!this.vs.loginFlag">
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="パスワード（確認用）">
        <mat-icon matSuffix (click)="hide=!hide">{{hide?'visibility':'visibility_off'}}</mat-icon>
      </mat-form-field>
      <button type="submit" mat-raised-button color="Primary" [disabled]=false *ngIf="this.vs.loginFlag">
        ログイン
      </button>
      <button type="submit" mat-raised-button color="Primary" [disabled]=false *ngIf="!this.vs.loginFlag">
        新規登録
      </button>
    </form>
  </mat-card-content>
    <div class="forget-password" *ngIf="this.vs.loginFlag">
      パスワードをお忘れですか？
    </div>
    <div class="register-navigation" *ngIf="this.vs.loginFlag">
      <span (click)="this.vs.loginFlag=!this.vs.loginFlag">新規登録</span>はこちら
    </div>
    <div class="register-navigation" *ngIf="!this.vs.loginFlag">
      <span (click)="this.vs.loginFlag=!this.vs.loginFlag">登録済み</span>の方はこちら
    </div>
</mat-card>

<!-- https://www.l08084.com/entry/2018/04/20/161935#%E3%83%AD%E3%82%B0%E3%82%A4%E3%83%B3%E3%83%95%E3%82%A9%E3%83%BC%E3%83%A0%E3%82%92%E4%BD%9C%E3%82%8B -->
