// .cdk-overlay-pane.my-dialog {
//   position: relative!important;
// }
// .close.mat-button {
//   position: absolute;
//   top: 0;
//   right: 0;
//   padding: 5px;
//   line-height: 14px;
//   min-width: auto;
// }

.login-card{
  width: 600px;
  height: 300px;

  .close{
    position: absolute;
    top: 0;
    right: 0;
  }

  .login-form {
    display: flex;
    flex-direction: column;
  }

  .login-title {
    font-weight: bold;
    font-size: 22px;
    color: #3f51b5;
  }
}
