.app-header{
  background-color: black;
  color: white;
  width: 100%;
  position: fixed;
}

.menu{
  text-align: center;
  padding: 10px 0;
}

#Logo{
  font-size: 5vh;
}

.group-tab{
  height: 5vh;
}

a:link, a:visited, a:hover, a:active {
  color: white;
  text-decoration: none;
}

/* margin-topだとヘッダーも下がる */
.wrapper{
  padding-top: 8vh;
  min-height: 100vh;
}