<div fxLayout="column">
  <div fxFlex="10%">
    <app-header></app-header>
  </div>
  <div fxFlex="70%">
    <section class="wrapper">
      <router-outlet></router-outlet>
    </section>
  </div>
  <div fxFlex="20%">
    <app-footer></app-footer>
  </div>
</div>

<div class="container">
	<h2>Full width cells</h2>
	<carousel
		[images]="images2"
		[objectFit]="'cover'"
		[cellWidth]="'100%'"
		[height]="500"
		[borderRadius]="10"
		[arrowsOutside]="false"
		[autoplay]="false"
		[dots]="true"
		[loop]="true">
	</carousel>
</div>